<% if @pokemon %>
  <h1>Captures for <%= @pokemon.name%> - <%= @pokemon.region.name%></h1>
<% else %>
  <h1>All Capturess </h1>
<% end %>


<ul>
<% @captures.each do |c| %>
    <li><%= c.pokemon.name%>: <%= c.pokeball%> - <%= c.captured%></li>
<% end %>
</ul>