<h1>Catch a Pokemon </h1>

<%= render partial: 'layouts/errors', locals: {object: @capture}  %>


<%= form_for(@capture) do |f| %>
    <% if params[:pokemon_id] %>
        <%= f.hidden_field :pokemon_id %>
    <% else %>
        <div>
            <%= f.label :pokemon_id, "Select an Pokemon" %>
            <%= f.collection_select :pokemon_id, Pokemon.alphabetically, :id, :pokemon_and_region, include_blank: true %>
        </div>
    <% end %>
    <div>
        <%= f.label :pokeball %>
        <%= f.text_field :pokeball %>
    </div>
    <div>
        <%= f.label :captured %>
        <%= f.date_field :captured %>
    </div>

    <%= f.submit "Add Catch" %>

<% end%>