<h1>Edit your Pokemon</h1>

<%= render partial: 'layouts/errors', locals: {object: @pokemon}  %>

<%= form_for(@pokemon) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    
    <%= f.submit "Update Pokemon" %>
<% end %>